html {
    box-sizing: border-box;
    color: grey;
    font-family: 'Courier';
}

.invisble {
    display: none;
    
}


.welcome {
    text-align: center;
    border: 2px solid #544D4B;
    margin: 15px;
    padding-bottom: 30px;
}

.brackets {
    background-color: tomato;
    text-align: center;
   
}

.userInput {
    width: 70%;
    height: 25px;
}

.game-button {
    background-color: #fff; 
    border: none;
    color: tomato;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.game-button:hover{
    color: #fff;
    background-color: tomato;
}



.mainButton {
    background-color: grey; 
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
   

}

.play-area {

	display: grid;
	max-width: 100%;
	grid-template-columns: 50%  50%;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px; 
    height: 100%;
    grid-gap: 5px;
    /* justify-items: center;
    align-items: center; */
	grid-template-areas: 
		"cl1 cl2"
		"cl3 cl4"
		"cl5 cl6"
		"cl7 cl8"
		"cl9 cl10"
        "cl11 cl12"
		"cl13 cl14"
		"cl15 cl16";
		
}
/* */ /* */ /* */ /* */ /* */ /* */ /* */ 

.cl1 {
    grid-area: cl1;
}

.cl2 {
    grid-area: cl2;
}

.cl3 {
    grid-area: cl3;
}

.cl4 {
    grid-area: cl4;
}

.cl5 {
    grid-area: cl5;
}

.cl6 {
    grid-area: cl6;
}

.cl7 {
    grid-area: cl7;
}

.cl8 {
    grid-area: cl8;
}

.cl9 {
    grid-area: cl9;
}

.cl10 {
    grid-area: cl10;
}

.cl11 {
    grid-area: cl11;
}

.cl12 {
    grid-area: cl12;
}

.cl13 {
    grid-area: cl13;
}


.cl14 {
    grid-area: cl14;
}


.cl15 {
    grid-area: cl15;
}


.cl16 {
    grid-area: cl16;
}



/* */ /* */ /* */ /* */ /* */ /* */


.cl1 .thumb {
    float: left;
}

.cl3 .thumb {
    float: left;
}

.cl5 .thumb {
    float: left;
}

.cl7 .thumb {
    float: left;
}

.cl9 .thumb {
    float: left;
}

.cl11 .thumb {
    float: left;
}

.cl13 .thumb {
    float: left;
}

.cl15 .thumb {
    float: left;
}

.cl2 .thumb {
    float: right;
}

.cl4 .thumb {
    float: right;
}

.cl6 .thumb {
    float: right;
}

.cl8 .thumb {
    float: right;
}

.cl10 .thumb {
    float: right;
}

.cl12 .thumb {
    float: right;
}

.cl14 .thumb {
    float: right;
}

.cl16 .thumb {
    float: right;
}